name: Build & Publish Docker Images (GHCR)

on:
  push:
    branches: ["main"]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Spring Boot Image (Mongo)
        uses: docker/build-push-action@v6
        with:
          context: ./springboot-service
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/springboot-service-mongo:latest

      - name: Build and Push PHP Image (UI)
        uses: docker/build-push-action@v6
        with:
          context: ./php-service
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/php-service-mongo:latest
